.bg-header{
	width:100%;
	margin-top:5em;
	height:340px;
}
 
.right-now{
	width:85%;
	margin:0 auto;
}

.books-love{
	width:85%;
	margin:	0 auto;
}

.because-of{
	width:85%;
	margin:0 auto;
}

.readers-fav{
	width:85%;
	margin:0 auto;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

a:focus
{
outline:0;
} 
